/* The Nunito font is released under the Open Font License 1.1. */
/* See "nunito-license.txt" for more licensing info. */
@font-face {
	font-family: 'Nunito';
	src:
		local('Nunito'),
		local('Nunito-Regular'),
		url('./fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src:
		local('Nunito-Bold'),
		url('./fonts/Nunito-Bold.ttf') format('opentype');
}

body {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	background-color: #ffee55;
}

/* Adds colons and spaces to separate dt elements from dd elements. */
/* Note: It is recommended that you nest related dt and dd elements in a div or else this styling will not be applied. */
div > dt:last-of-type::after {
	content: ': ';
}

/* Make dd elements display inline. */
dl dt,
dl dd {
	display: inline;
}

/* Remove left margin on dd elements that is there by default, as it is not needed when the element is displayed inline. */
dl dd {
	margin-left: 0;
}

#zwd-header {
	background-color: rgba(40, 40, 40, 0.5);
	color: #fff;
	margin-bottom: 10px;
	h1 {
		font-size: 1.8em;
		margin: 10px;
	}
}

#zwd-general-weather {
	display: hidden;
	font-size: 2em;
	margin-bottom: 0;
}

.btn {
	background-color: #fff;
	margin-bottom: 10px;
	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}
}

#zwd-temperature-unit-select {
	margin-bottom: 10px;
	width: 150px;
}

#zeb-footer {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: space-evenly;
	padding: 0 10px;
	background-color: #222;
	color: #fff;

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			color: #00bbee;
		}
	}

	p {
		margin: 4px 0;
	}
}